.review {
  font-family: sans-serif;
  padding: 1rem 1rem;
  box-shadow: 2px 4px 15px 0px rgba(133, 133, 167, 0.25);
  border-radius: 0.5rem;
  .title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }
  .nav {
    margin-top: 2rem;    
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 3rem;
    }
  }
}
