.profile{        
    font-family: sans-serif;
    .name{
        font-size: 2rem;        
        padding: 1rem;
    }
    .desc{
        padding: 0.5rem 1rem;
    }
    .rating{
        padding: 0.5rem 1rem;
        color: #0076CE;
    }
}