.suggested-item{
    font-size: 1rem;    
    padding: 0.5rem;    
    z-index: 20;
    position: relative;
    &:hover{
        background-color: aliceblue;
        cursor: pointer;
    }
}
@media screen and (max-width:768px) {
    .suggested-item{
        font-size: 1.3rem;
    }
}