.recommendation {
  padding: 1rem 2rem;
  font-family: sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
